/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	font-size:125%;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em; 
	font-weight: bold;
}

.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
	font-size: larger;
}



.active a{
	text-decoration: none;;
}

/*Style the images*/
img{
    height: 150px;
	width:auto;
    border: 3px solid blue;
    padding: 25px;
    border-radius: 20px;
    margin: 5px;
	margin-left: 10%
}

/*Make the h2 heading match h1*/
h2{
	font-size: 2em; 
	font-weight: bold;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
header, nav, main, footer{
	border: 3px solid red;
	margin: 10px 0;
}


/*Change the styling for all of the list 
items in the nav section*/
nav ul li{
	background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}

/*Added this so the links stay the same color*/
a:visited{color:#0000FF}

nav a{
	color: black;
	font-weight: bold;
	text-decoration: none; 
  }

.skip a{
	background: white;
	left: 0;
	padding: 6px;
	-webkit-transition: top 1s ease-out;
	transition: top 1s ease-out;
	z-index: 1;
  }

  nav a:hover, nav a:focus{
	text-decoration: underline;
  }
  
  
  /* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
  .skip a{
	position: absolute;
	top: -40px;
  }
  .skip a:focus{
	position: absolute;
	top: 20px;
  }


  @media screen and (min-width: 800px){
.container{
		display: grid;
		grid-template-columns: 2fr 5fr 2fr;
		grid-template-rows: auto;
		grid-gap: 15px;
}
.container > div:first-of-type{
	grid-column: 2 / 1;
	grid-row: 1 / 1;
	background-color: #d4cf72;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-image{
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto;
	vertical-align: bottom;

}


.images1{
	grid-column: 2 / 1;
	grid-row: 1 / 2;
}
  }

  @media (prefers-reduced-motion: reduce) {
	.gif-container {
	  display: none; /* Hide the container with the GIF */
	}
  }

  @media (prefers-reduced-motion: no-preference) {
	/* Add styles for non-reduced motion users */
	.gif-container {


	}
  }